trigger:
- main  # Se ejecuta en cada cambio en main

pr:
- main  # También se ejecuta en cada Pull Request a main

pool:
  vmImage: 'ubuntu-latest'  # Máquina virtual para ejecutar el pipeline

variables:
- group: varcody  # Grupo de variables con credenciales de JFrog

steps:

  - script: |
    
     pip install --no-cache-dir --index-url https://pypi.org/simple --upgrade pip  # Actualiza pip
     pip install --no-cache-dir --index-url https://pypi.org/simple  -r requirements.txt  # Instala dependencias
    displayName: 'Instalar dependencias'

  - task: SnykSecurityScan@1
    inputs:
      serviceConnectionEndpoint: 'snykcon'
      testType: 'app'
      monitorWhen: 'never'  # Deshabilita `snyk monitor` aquí para evitar el error
      failOnIssues: false
      additionalArguments: '--json-file-output=$(Build.ArtifactStagingDirectory)/snyk-report.json'

  - script: ls -l $(Build.ArtifactStagingDirectory)
    displayName: 'Verificar archivos generados'

  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: '$(Build.ArtifactStagingDirectory)/snyk-report.json'
      artifactName: 'snyk-security-report'